/dispatcher/src/main/resources/application.properties
/.idea/
/common-rabbitmq/target/
/dispatcher/target/
/logs/
/node/src/main/resources/application.properties
/node/target/
/node/logs/
/common-jpa/target/
/rest-service/target/
/rest-service/src/main/resources/application.properties
/common-utils/target/
/mail-service/target/
/mail-service/src/main/resources/application.properties
/db-migration/target/
/db-migration/src/main/resources/application.properties
/startPostgresContainer.sh
/startRabbitMqContainer.sh
/getStatic.sh
